[Desktop Entry]
Name=Livescore
Exec=webapp-container --app-id="livescore.alexmigf" --webappUrlPatterns https://www.livescore.com/
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
